/*这些元素都建议重新初始化*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
tr,
td,
th,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
br,
img,
table,
input,
form,
a,
p,
span,
textarea,
i {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span {
  display: inline-block;
}

/*去掉列表默认排列*/

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  background: none;
}

html {
  font-size: 13.3333vw;
  scroll-behavior: smooth;
  // 去除点击高亮色
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p,
div,
span {
  font-size: 0.26rem;
}

body {
  // background-color: #141414;
}